html {
    background: url("images/boardBackground.jpg");
}

body{
    width: 600px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    background: rgb(255, 255, 255,0.9);
    margin: 0px auto;
}
h1{
    background: rgb(60, 60, 60);
    color: white;
    border-radius: 20px;
}
img{
    width: 400px;
    height: 300px;
}

.center,
h2 {
    text-align: center;
}

#orange{
    color:orange; 
}

#blue{
    color: blue;
}

#red{
    color: red;
}

body {
    font-family: 'Kavivanar';font-size: 22px; letter-spacing: 4px;
}

h2 {
    font-family: 'Kavivanar';font-size: 22px;
}

p {
    font-family: 'Montserrat';font-size: 22px;
}

#size{
    font-size: 12px;
}